<footer>
  <div id="footer">
    <div class="footer-item">
      <ul class="footerlinks">
	<li>Meta:</li>
	{% if site.footerlinks %}
	{% assign pages_list = site.footerlinks %}
	{% else %}
	{% assign pages_list = site.pages %}
	{% assign group = 'navigation' %}
	{% endif %}
	{% include JB/pages_list %}
	{% include themes/hacking-in-the-dark/social.html %}
      </ul>
    </div>
    <div class="footer-item">
      &copy; {{ site.author.name }} 2012.
      {% include themes/hacking-in-the-dark/credits.html %}
    </div>
  </div>
</footer>
{% include JB/analytics %}
{% include themes/hacking-in-the-dark/olark.html %}
