/* main structural css */
body {
    height: 100%;
    width: 100%;
}

#container {
    padding: 20px;
    width: 900px;
    margin: auto;
}

#header {
    font-size: 18px;
    text-align: center;
    padding: 15px;
}

#left_box {
    position: absolute;
    left: 20px;
    width: 200px;
}

#main {
}

#right_box {
    /* position: absolute;*/
    position: fixed;
    right: 20px;
    top: 200px;
    /* margin-top: 250px; */
    width: 200px;
    padding: 20px;
    border: 2px solid;
}

#footer {
    text-align: center;
    height: 75px;
}

#about_iframe {
    width: 800px;
    height: 625px;
    overflow: hidden;
    border: none;
}

#about_iframe::-webkit-scrollbar {
    display: none;
}

/* page structural css */
.centered-box {
    width: 100%;
    max-width: 960px;
    margin: auto;
}

@media only screen and (max-width: 1320px) {
    #right_box {
	display: none;
    }
}

@media only screen and (max-width: 768px) {
    .centered-box {
	width: 100%;
	max-width: 710px;
	margin: auto;
    }
    #right_box {
	display: none;
    }
}

.page-header,
.page-content h1 {
    border: 3px solid;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    -webkit-border-radius: 20px 0;
    -moz-border-radius: 20px 0;
    border-radius: 20px 0;
}

.page-content h2 {
    border: 3px solid;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* dependent structural css */

#header .gravatar {
    vertical-align: middle;
}

#header .tagline {
    padding: 15px;
}

#navbar li,
#footer li {
    display: inline;
}

h1 {
    font-size: 36px;
    padding: 12px 0px;
    marigin: 18px 0px;
}

h2 {
    font-size: 30px;
    padding: 12px 0px;
    marigin: 18px 0px;
}

h3 {
    font-size: 27px;
    padding: 12px 0px;
    marigin: 18px 0px;
}

h4 {
    font-size: 24px;
    padding: 12px 0px;
    marigin: 18px 0px;
}

#navbar ul {
    font-size: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.page-header .tagline {
    font-size: 26px;
}

.navlinks li {
    margin-left: 0px;
    padding: 15px;
}

.footer-item,
.footerlinks li {
    margin-left: 0px;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
}

li {
    margin-left: 1em;
}

.pagination-separator-top {
    margin-top: 20px;
}

.pagination-separator-bottom {
    margin-bottom: 10px;
}

.pagination {
    width: 100%;
    text-align: center;
}

.pagination .prev {
    float: left;
}

.pagination .next {
    float: right;
}

.rounded-10 {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}