/*

http://www.colourlovers.com/palette/2080987/HackingIntheDark
Background - "Dark Charcoal" (#181818)
Foreground text - White (#ffffff)
Links - "Dark Forest Green" (#107010)
Hover Links - "Golf Green" (#18a718)
Headings - "Deep Orange" (#df8020)
Heading Border & Trim - "Caution Orange" (#ffc40c)

*/
.dark-gray {
  color: #333333;
}
.hackinthedark-base {
  background-color: #181818;
  color: #ffffff;
  font-size: 18px;
  font-family: "Palatino Linotype", Palatino, serif;
}
.hackinthedark {
  background-color: #181818;
  color: #ffffff;
  font-size: 18px;
  font-family: "Palatino Linotype", Palatino, serif;
  /*
    li.active a,
    li.active a:hover {
        color: @white;
        text-decoration: none;
        cursor: default;
    }
*/

  /* fonts */

}
.hackinthedark #wrap,
.hackinthedark #footer {
  background-color: #181818;
  color: #ffffff;
  font-size: 18px;
  font-family: "Palatino Linotype", Palatino, serif;
}
.hackinthedark a {
  color: #107010;
}
.hackinthedark a:active,
.hackinthedark a:hover {
  color: #18a718;
}
.hackinthedark .brand,
.hackinthedark a.brand,
.hackinthedark a.brand:active,
.hackinthedark a.brand:hover {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 72px;
  letter-spacing: 10px;
  font-family: Courier New, serif;
}
.hackinthedark #header .tagline {
  font-style: italic;
  font-family: "Palatino Linotype", Palatino, serif;
}
.hackinthedark .page-header .page-tagline {
  font-weight: bold;
  font-style: normal;
  font-family: Courier New, serif;
}
.hackinthedark .footerlinks img {
  vertical-align: middle;
}
.hackinthedark h1,
.hackinthedark h2,
.hackinthedark h3,
.hackinthedark h4 {
  font-weight: bold;
  font-family: "Lucida Sans Unicode", "Lucida Grand", sans-serif;
}
.hackinthedark .page-header,
.hackinthedark .page-content h1 {
  background-color: #df8020;
}
.hackinthedark .page-header,
.hackinthedark .page-content h1,
.hackinthedark .page-content h2 {
  border-color: #ffc40c;
}
.hackinthedark .pagination li {
  display: inline;
  list-style-type: none;
}
.hackinthedark .navlinks,
.hackinthedark .footerlinks,
.hackinthedark .pagination,
.hackinthedark #disqus_thread a,
.hackinthedark #dsq-sort-by {
  font-family: "Lucida Sans Unicode", "Lucida Grand", sans-serif;
}
.hackinthedark #dsq-comments,
.hackinthedark #dsq-comments a {
  font-family: "Palatino Linotype", Palatino, serif;
}
.hackinthedark .yui3-twitter li {
  list-style-type: none;
  color: #000000;
}
