@import "_imports/colors.less";

@general-font: "Palatino Linotype", Palatino, serif;
@branding-font: Courier New, serif;
@header-font: "Lucida Sans Unicode", "Lucida Grand", sans-serif;

.hackinthedark-base {
    background-color: @dark-charcoal;
    color: @white;
    font-size: 18px;
    font-family: @general-font;
}

.hackinthedark {
    .hackinthedark-base;
    #wrap {
        .hackinthedark-base;
    }

    a {
        color: @dark-forest-green;
        &:active,
        &:hover {
            color: @golf-green;
        }
    }

    .brand,
    a.brand,
    a.brand:active,
    a.brand:hover {
        color: @white;
        text-decoration: none;
        font-weight: bold;
        font-size: 72px;
        letter-spacing: 10px;
        font-family: @branding-font;
    }

    #header {
        .brand {
            .dark-gray {
                color: @dark-gray;
                transition: color 1.5s;
                &:hover {
                    color: @white;
                }
            }
        }
        .tagline {
            font-style: italic;
            font-family: @general-font;
        }
    }

    #main {
    }
    #main .page {
        .header {
            background-color: @deep-orange;
            border-color: @caution-orange !important;
            .fake-console {
                background-color: @dark-charcoal;
                opacity: 0.85;
                transition: opacity 1.5s;
                &:hover {
                    opacity: 1.0;
                }
                .tagline {
                    font-weight: bold;
                    font-style: normal;
                    font-family: @branding-font;
                }
            }
        }
        .content {
            h1 {
                background-color: @deep-orange;
                border-color: @caution-orange !important;
            }
            h2 {
                border-color: @caution-orange !important;
            }
        }
    }

    #footer {
        .hackinthedark-base;
    }

/*
    li.active a,
    li.active a:hover {
        color: @white;
        text-decoration: none;
        cursor: default;
    }
*/

    h1,
    h2,
    h3,
    h4 {
        font-weight: bold;
        font-family: @header-font;
    }

    .pagination li {
        display: inline;
        list-style-type: none;
    }

    /* fonts */

    .navlinks,
    .footerlinks,
    .pagination,
    #disqus_thread a,
    #dsq-sort-by {
        font-family: @header-font;
    }

    #dsq-comments,
    #dsq-comments a {
        font-family: @general-font;
    }

    .yui3-twitter {
        .yui3-twitter-bdy {
        }
        li {
            list-style-type: none;
            color: @black;
        }
    }
}
