/*

http://www.colourlovers.com/palette/2080987/HackingIntheDark
Background - "Dark Charcoal" (#181818)
Foreground text - White (#fff)
Links - "Dark Forest Green" (#107010)
Hover Links - "Golf Green" (#18a718)
Headings - "Deep Orange" (#df8020)
Heading Border & Trim - "Caution Orange" (#ffc40c)

*/

.hackinthedark,
.hackinthedark #wrap,
.hackinthedark #footer {
    background-color: #181818;
    color: #fff;
    font-size: 18px;
}

.hackinthedark a {
    color: #107010;
}

.hackinthedark a:active,
.hackinthedark a:hover {
    color: #18a718;
}

.hackinthedark .brand,
.hackinthedark a.brand,
.hackinthedark a.brand:active,
.hackinthedark a.brand:hover {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 72px;
    letter-spacing: 10px;
}

.hackinthedark .tagline {
    font-style: italic;
}

.hackinthedark .content-title .tagline {
    font-style: normal;
}

/*
.hackinthedark li.active a,
.hackinthedark li.active a:hover {
    color: #fff;
    text-decoration: none;
    cursor: default;
}
*/

.hackinthedark .footerlinks img {
    vertical-align: middle;
}

.hackinthedark h1,
.hackinthedark h2,
.hackinthedark h3,
.hackinthedark h4 {
    font-weight: bold;
}

.hackinthedark .page-header,
.hackinthedark .page-content h1 {
    background-color: #df8020;
    border-color: #ffc40c;
}

.hackinthedark .page-content h2 {
    border-color: #ffc40c;
}

.hackinthedark strong {
    font-weight: bold;
}

.hackinthedark li {
    list-style-type: disc;
}

.hackinthedark .pagination li {
    display: inline;
    list-style-type: none;
}

/* fonts */

.hackinthedark .navlinks,
.hackinthedark .footerlinks,
.hackinthedark #footer,
.hackinthedark .pagination,
.hackinthedark h1,
.hackinthedark h2,
.hackinthedark h3,
.hackinthedark h4,
.hackinthedark #disqus_thread a,
.hackinthedark #dsq-sort-by {
    font-family: "Lucida Sans Unicode", "Lucida Grand", sans-serif;
}

.hackinthedark,
.hackinthedark #wrap,
.hackinthedark #footer,
.hackinthedark .tagline,
.hackinthedark #dsq-comments,
.hackinthedark #dsq-comments a {
    font-family: "Palatino Linotype", Palatino, serif;
}

.hackinthedark .brand,
.hackinthedark a.brand,
.hackinthedark a.brand:active,
.hackinthedark a.brand:hover,
.hackinthedark .content-title .tagline {
    font-family: Courier New, serif;
}
