<!-- HTML5 shim, for IE6-8 support of HTML elements -->
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<script src="//yui.yahooapis.com/3.17.2/build/yui/yui-min.js"></script>
{% if site.author.stripe %}
<script src="//checkout.stripe.com/checkout.js"></script>
{% endif %}

<script>
var GRAVATAR_IMG = '{% if site.author.gravatar %}http://www.gravatar.com/avatar/{{ site.author.gravatar }}{% endif %}';
var STRIPE_KEY = 'pk_test_JfDYndgr9Yypyh8QMEfqS55P';
</script>
